

.navigation-link {
  link {
      color: #DE5752;
      background-color: transparent;
      text-decoration: none;
  }
}
  visited {
      color: #0AC6E7;
      background-color: transparent;
      text-decoration: none;
  }
  hover {
      color: #0AC6E7;
      background-color: transparent;
      text-decoration: underline;
  }

  .project-name {
    font-family: 'Work-Sans',sans-serif;
    font-weight: bold;
    font-size: 35px;
    text-align: center;
    color: #000000;
    }

.project-summary-1 {
  font-family: 'Taviraj',serif;
  text-align: center;
  font-size: 16px;
  color: #000000;
}

.mobile-prototype {
  text-align: center;
  font-size: 15px;
}


 .the-problem {
  font-family: 'Work-Sans',sans-serif;
  color: #0AC6E7;
  font-size: 32px;
  font-weight: normal;
  text-align: center;
}

.the-issue {
  font-family: 'Taviraj',serif;
  color: #000000;
  font-size: 16px;
  font-weight: normal;
  text-align: center;
}

.the-solution {
  font-family: 'Work-Sans',sans-serif;
  font-size: 32px;
  font-weight: normal;
  color: #0AC6E7;
  text-align: center;
}

.solution-explained {
font-family: 'Taviraj',serif;
font-size: 16px;
font-weight: normal;
text-align: center;
color: #000000;
}


.research1 {
font-family: 'Work-Sans', sans-serif;
font-size: 36px;
font-weight: normal;
text-align: center;
color: #DE5752;
padding-top: 5px;
padding-bottom: 5px;
}

.user-stories1 {
font-family: 'Work-Sans', sans-serif;
font-size: 32px;
font-weight: normal;
text-align: center;
color: #0ac6e7;
padding: 15px;
}


.stories {
  font-family: 'Taviraj',serif;
  font-size: 16px;
  font-weight: normal;
  text-align: center;
  color: #000000;
  }

.user-stories-mobile {
  background-color: #ffffff;
  width: 100%;
  font-family: 'Work-Sans', sans-serif;
  font-size: 32px;
  font-weight: normal;
  text-align: center;
  color: #0ac6e7;
  padding: 15px;
}

.as-a-user {
  font-family: 'Taviraj', sans-serif;
  font-size: 25px;
  color: #000000;
}

.have {
  font-family: 'Taviraj',serif;
  font-size: 16px;
  font-weight: normal;
  text-align: center;
  color: #000000;
}


.Architecture1 {
background-color: #ffffff;
font-family: 'Work-Sans', sans-serif;
font-size: 36px;
font-weight: normal;
text-align: center;
color: #DE5752;
padding-top: 5px;
padding-bottom: 5px;
}

.site-map {
  font-family: 'Work-Sans', sans-serif;
  font-size: 32px;
  font-weight: normal;
  text-align: center;
  color: #0ac6e7;
  padding: 15px;
}


.map-explanation {
  font-family: 'Taviraj',sans-serif;
  font-style: 16px;
  font-style: normal;
  color: #000000;
}

.map-image {
  position: relative;
  width: 660px;
  height: 900px;
}



.mobile-user-flow-container {
  background-color:#F0F0F0;
  width: 100%;
  padding-top: 50px;
  padding-bottom: 50px;
}


.mobile-user-flow {
  background-color: #F0F0F0;
  font-family: 'Work-Sans',sans-serif;
  font-size: 32px;
  font-weight: normal;
  color:#0AC6E6;
  text-align: center;
}


.mobile-flow {
  background-color: #F0F0F0;
  font-family: 'Taviraj'sans-serif;
  font-style: normal;
  font-size: 16px;
  color: #000000;
  padding: 20px;
}


.lunch {
  position: relative;
  width: 1000px;
  height: 650px;
}

.truck-review {
  position: relative;
  width: 650px;
  height: 650px;
}

.dinner {
  position: relative;
  width: 1100px;
  height: 680px;
}


.signup {
  position: relative;
  width: 900px;
  height: 950px;
}

.wireframe-container1 {
  background-color: #FFFFFF;
  color: #000000;
  padding: 20px;
}

.wireframes {
  font-family: 'Work-Sans',sans-serif;
  font-size: 32px;
  font-weight: normal;
  color: #0AC6E6;
  text-align: center;
}

.screens {
  font-family: 'Taviraj',sans-serif;
  font-style: 16px;
  font-style: normal;
  color: #000000;
}

.sketch-truck {
  position: relative;
  width: 725px;
  height: 450px;
}

.sketch-purchase {
  position: relative;
  width: 749px;
  height: 450px;
}

.slide-container {
  background-color: #F0F0F0;
  width: 100%;
  padding-bottom: 0px;
  padding-top: 20px;
}

* {
  box-sizing: border-box;
}

.row > .column {
  padding: 0 8px;
}

.row:after {
  content: "";
  display: table;
  clear: both;
}

.column {
  float: left;
  width: 25%;
}

/* The Modal (background) */
.modal {
  display: none;
  position: fixed;
  z-index: 1;
  padding-top: 100px;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  overflow: auto;
  background-color: black;
}

/* Modal Content */
.modal-content {
  position: relative;
  background-color: fefefe;
  margin: auto;
  padding: 0;
  width: 40%;
  max-width: 300px;
}

/* The Close Button */
.close {
  color: white;
  position: absolute;
  top: 10px;
  right: 25px;
  font-size: 35px;
  font-weight: bold;
}

.close:hover,
.close:focus {
  color: #999;
  text-decoration: none;
  cursor: pointer;
}

.mySlides {
  display: none;
}

.cursor {
  cursor: pointer;
}

/* Next & previous buttons */
.prev {
  cursor: pointer;
  position: absolute;
  top: 50%;
  left:-44px;
  opacity: 0;
  width: auto;
  padding: 16px;
  margin-top: -50px;
  color: white;
  font-weight: bold;
  font-size: 20px;
  transition: 0.6s ease;
  border-radius: 0 3px 3px 0;
  user-select: none;
  -webkit-user-select: none;

}
.next {
  cursor: pointer;
  position: absolute;
  top: 50%;
  right:-44px;
  opacity: 0;
  width: auto;
  padding: 16px;
  margin-top: -50px;
  color: white;
  font-weight: bold;
  font-size: 20px;
  transition: 0.6s ease;
  border-radius: 0 3px 3px 0;
  user-select: none;
  -webkit-user-select: none;
}

/* Position the "next button" to the right */
.next {
  border-radius: 3px 0 0 3px;
}

/* On hover, add a black background color with a little bit see-through */
.prev:hover,
.next:hover {
  background-color: rgba(0, 0, 0, 0.8);
  opacity: 1;
}

/* Number text (1/3 etc) */
.numbertext {
  color: #f2f2f2;
  font-size: 12px;
  padding: 8px 12px;
  position: absolute;
  top: 0;
}

img {
  margin-bottom: -4px;
}


.demo {
  opacity: 0.6;
}

.active,
.demo:hover {
  opacity: 1;
}

img.hover-shadow {
  transition: 0.3s;
}

.hover-shadow:hover {
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}


.slide-container1 {
  background-color: #cdcdcd;
  width: 100%;
  padding-bottom: 80px;
  padding-top: 20px;
}

* {
  box-sizing: border-box;
}

.row1 > .column1 {
  padding: 0 8px;
}

.row1:after {
  content: "";
  display: table;
  clear: both;
}

.column1 {
  float: left;
  width: 25%;
}

/* The Modal (background) */
.modal1 {
  display: none;
  position: fixed;
  z-index: 1;
  padding-top: 100px;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  overflow: auto;
  background-color: black;
}

/* Modal Content */
.modal-content1 {
  position: relative;
  background-color: fefefe;
  margin: auto;
  padding: 0;
  width: 40%;
  max-width: 300px;
}

/* The Close Button */
.close1 {
  color: white;
  position: absolute;
  top: 10px;
  right: 25px;
  font-size: 35px;
  font-weight: bold;
}

.close1:hover,
.close1:focus {
  color: #999;
  text-decoration: none;
  cursor: pointer;
}

.mySlides1 {
  display: none;
}

.cursor1 {
  cursor: pointer;
}

/* Next & previous buttons */
.prev1 {
    cursor: pointer;
    position: absolute;
    top: 50%;
    left:-44px;
    opacity: 0;
    width: auto;
    padding: 16px;
    margin-top: -50px;
    color: white;
    font-weight: bold;
    font-size: 20px;
    transition: 0.6s ease;
    border-radius: 0 3px 3px 0;
    user-select: none;
    -webkit-user-select: none;
}
.next1 {
  cursor: pointer;
  position: absolute;
  top: 50%;
  right:-44px;
  opacity: 0;
  width: auto;
  padding: 16px;
  margin-top: -50px;
  color: white;
  font-weight: bold;
  font-size: 20px;
  transition: 0.6s ease;
  border-radius: 0 3px 3px 0;
  user-select: none;
  -webkit-user-select: none;
}

/* Position the "next button" to the right */
.next1 {
  border-radius: 3px 0 0 3px;
}

/* On hover, add a black background color with a little bit see-through */
.prev1:hover,
.next1:hover {
  background-color: rgba(0, 0, 0, 0.8);
    opacity: 1;
}

/* Number text (1/3 etc) */
.numbertext1 {
  color: #f2f2f2;
  font-size: 12px;
  padding: 8px 12px;
  position: absolute;
  top: 0;
}

img {
  margin-bottom: -4px;
}


.demo1 {
  opacity: 0.6;
}

.active1,
.demo1:hover {
  opacity: 1;
}

img.hover-shadow1 {
  transition: 0.3s;
}

.hover-shadow1:hover {
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}


.slide-container2 {
  background-color: #F0F0F0;
  width: 100%;
  padding-bottom: 0px;
  padding-top: 20px;
}

* {
  box-sizing: border-box;
}

.row2 > .column2 {
  padding: 0 8px;
}

.row2:after {
  content: "";
  display: table;
  clear: both;
}

.column2 {
  float: left;
  width: 25%;
}

/* The Modal (background) */
.modal2 {
  display: none;
  position: fixed;
  z-index: 1;
  padding-top: 100px;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  overflow: auto;
  background-color: black;
}

/* Modal Content */
.modal-content2 {
  position: relative;
  background-color: fefefe;
  margin: auto;
  padding: 0;
  width: 40%;
  max-width: 300px;
}

/* The Close Button */
.close2 {
  color: white;
  position: absolute;
  top: 10px;
  right: 25px;
  font-size: 35px;
  font-weight: bold;
}

.close2:hover,
.close2:focus {
  color: #999;
  text-decoration: none;
  cursor: pointer;
}

.mySlides2 {
  display: none;
}

.cursor2 {
  cursor: pointer;
}

/* Next & previous buttons */
.prev2 {
    cursor: pointer;
    position: absolute;
    top: 50%;
    left:-44px;
    opacity: 0;
    width: auto;
    padding: 16px;
    margin-top: -50px;
    color: white;
    font-weight: bold;
    font-size: 20px;
    transition: 0.6s ease;
    border-radius: 0 3px 3px 0;
    user-select: none;
    -webkit-user-select: none;
}
.next2 {
  cursor: pointer;
  position: absolute;
  top: 50%;
  right:-44px;
  opacity: 0;
  width: auto;
  padding: 16px;
  margin-top: -50px;
  color: white;
  font-weight: bold;
  font-size: 20px;
  transition: 0.6s ease;
  border-radius: 0 3px 3px 0;
  user-select: none;
  -webkit-user-select: none;
}

/* Position the "next button" to the right */
.next2 {
  border-radius: 3px 0 0 3px;
}

/* On hover, add a black background color with a little bit see-through */
.prev2:hover,
.next2:hover {
  background-color: rgba(0, 0, 0, 0.8);
    opacity: 1;
}

/* Number text (1/3 etc) */
.numbertext2 {
  color: #f2f2f2;
  font-size: 12px;
  padding: 8px 12px;
  position: absolute;
  top: 0;
}

img {
  margin-bottom: -4px;
}


.demo2 {
  opacity: 0.6;
}

.active2,
.demo2:hover {
  opacity: 1;
}

img.hover-shadow2 {
  transition: 0.3s;
}

.hover-shadow2:hover {
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}


.slide-container4 {
  background-color: #F0F0F0;
  width: 100%;
  padding-bottom: 0px;
  padding-top: 20px;
}

* {
  box-sizing: border-box;
}

.row4 > .column4 {
  padding4: 0 8px;
}

.row4:after {
  content: "";
  display: table;
  clear: both;
}

.column4 {
  float: left;
  width: 25%;
}

/* The Modal (background) */
.modal4 {
  display: none;
  position: fixed;
  z-index: 1;
  padding-top: 100px;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  overflow: auto;
  background-color: black;
}

/* Modal Content */
.modal-content4 {
  position: relative;
  background-color: #fefefe;
  margin: auto;
  padding: 0;
  width: 50%;
  max-width: 300px;
}

/* The Close Button */
.close4 {
  color: white;
  position: absolute;
  top: 10px;
  right: 25px;
  font-size: 35px;
  font-weight: bold;
}

.close4:hover,
.close4:focus {
  color: #999;
  text-decoration: none;
  cursor: pointer;
}

.mySlides4 {
  display: none;
}

.cursor4 {
  cursor: pointer;
}

/* Next & previous buttons */
.prev4 {
  cursor: pointer;
  position: absolute;
  top: 50%;
  left:-44px;
  opacity: 0;
  width: auto;
  padding: 16px;
  margin-top: -50px;
  color: white;
  font-weight: bold;
  font-size: 20px;
  transition: 0.6s ease;
  border-radius: 0 3px 3px 0;
  user-select: none;
  -webkit-user-select: none;
}



.next4 {
  cursor: pointer;
  position: absolute;
  top: 50%;
  right:-44px;
  opacity: 0;
  width: auto;
  padding: 16px;
  margin-top: -50px;
  color: white;
  font-weight: bold;
  font-size: 20px;
  transition: 0.6s ease;
  border-radius: 0 3px 3px 0;
  user-select: none;
  -webkit-user-select: none;
  }

/* Position the "next button" to the right */
.next4 {
border-radius: 3px 0 0 3px;
}

/* On hover, add a black background color with a little bit see-through */
.prev4:hover,
.next4:hover {
  background-color4: rgba(0, 0, 0, 0.8);
    opacity: 1;
}

/* Number text (1/3 etc) */
.numbertext4 {
  color: #f2f2f2;
  font-size: 12px;
  padding: 8px 12px;
  position: absolute;
  top: 0;
}

img {
  margin-bottom: -4px;
}

.caption-container4 {
  text-align: center;
  background-color: black;
  padding: 2px 16px;
  color: white;
}

.demo4 {
  opacity: 0.6;
}

.active4,
.demo4:hover {
  opacity: 1;
}

img.hover-shadow4 {
  transition: 0.3s;
}

.hover-shadow4:hover {
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}


.slide-container5 {
background-color: #cdcdcd;
  width: 100%;
  padding-bottom: 0px;
  padding-top: 20px;
}

* {
  box-sizing: border-box;
}

.row5 > .column5 {
  padding: 0 8px;
}

.row5:after {
  content: "";
  display: table;
  clear: both;
}

.column5 {
  float: left;
  width: 25%;
}

/* The Modal (background) */
.modal5 {
  display: none;
  position: fixed;
  z-index: 1;
  padding-top: 100px;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  overflow: auto;
  background-color: black;
}

/* Modal Content */
.modal-content5 {
  position: relative;
  background-color: fefefe;
  margin: auto;
  padding: 0;
  width: 40%;
  max-width: 300px;
}

/* The Close Button */
.close5 {
  color: white;
  position: absolute;
  top: 10px;
  right: 25px;
  font-size: 35px;
  font-weight: bold;
}

.close5:hover,
.close5:focus {
  color: #999;
  text-decoration: none;
  cursor: pointer;
}

.mySlides5 {
  display: none;
}

.cursor5 {
  cursor: pointer;
}

/* Next & previous buttons */
.prev5 {
  cursor: pointer;
  position: absolute;
  top: 50%;
  left:-44px;
  opacity: 0;
  width: auto;
  padding: 16px;
  margin-top: -50px;
  color: white;
  font-weight: bold;
  font-size: 20px;
  transition: 0.6s ease;
  border-radius: 0 3px 3px 0;
  user-select: none;
  -webkit-user-select: none;

}
.next5 {
  cursor: pointer;
  position: absolute;
  top: 50%;
  right:-44px;
  opacity: 0;
  width: auto;
  padding: 16px;
  margin-top: -50px;
  color: white;
  font-weight: bold;
  font-size: 20px;
  transition: 0.6s ease;
  border-radius: 0 3px 3px 0;
  user-select: none;
  -webkit-user-select: none;
}

/* Position the "next button" to the right */
.next5 {
  border-radius: 3px 0 0 3px;
}

/* On hover, add a black background color with a little bit see-through */
.prev5:hover,
.next5:hover {
  background-color: rgba(0, 0, 0, 0.8);
  opacity: 1;
}

/* Number text (1/3 etc) */
.numbertext5 {
  color: #f2f2f2;
  font-size: 12px;
  padding: 8px 12px;
  position: absolute;
  top: 0;
}

img {
  margin-bottom: -4px;
}


.demo5 {
  opacity: 0.6;
}

.active5,
.demo5:hover {
  opacity: 1;
}

img.hover-shadow5 {
  transition: 0.3s;
}

.hover-shadow5:hover {
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}
      .slide-container6 {
        background-color: #F0F0F0;
        width: 100%;
        padding-bottom: 0px;
        padding-top: 20px;
      }

      * {
        box-sizing: border-box;
      }

      .row6 > .column6 {
        padding: 0 8px;
      }

      .row6:after {
        content: "";
        display: table;
        clear: both;
      }

      .column6 {
        float: left;
        width: 25%;
      }

      /* The Modal (background) */
      .modal6 {
        display: none;
        position: fixed;
        z-index: 1;
        padding-top: 100px;
        left: 0;
        top: 0;
        width: 100%;
        height: 100%;
        overflow: auto;
        background-color: black;
      }

      /* Modal Content */
      .modal-content6 {
        position: relative;
        background-color: fefefe;
        margin: auto;
        padding: 0;
        width: 40%;
        max-width: 300px;
      }

      /* The Close Button */
      .close6 {
        color: white;
        position: absolute;
        top: 10px;
        right: 25px;
        font-size: 35px;
        font-weight: bold;
      }

      .close6:hover,
      .close6:focus {
        color: #999;
        text-decoration: none;
        cursor: pointer;
      }

      .mySlides6 {
        display: none;
      }

      .cursor6 {
        cursor: pointer;
      }

      /* Next & previous buttons */
      .prev6 {
          cursor: pointer;
          position: absolute;
          top: 50%;
          left:-44px;
          opacity: 0;
          width: auto;
          padding: 16px;
          margin-top: -50px;
          color: white;
          font-weight: bold;
          font-size: 20px;
          transition: 0.6s ease;
          border-radius: 0 3px 3px 0;
          user-select: none;
          -webkit-user-select: none;
      }
      .next6 {
        cursor: pointer;
        position: absolute;
        top: 50%;
        right:-44px;
        opacity: 0;
        width: auto;
        padding: 16px;
        margin-top: -50px;
        color: white;
        font-weight: bold;
        font-size: 20px;
        transition: 0.6s ease;
        border-radius: 0 3px 3px 0;
        user-select: none;
        -webkit-user-select: none;
      }

      /* Position the "next button" to the right */
      .next6 {
        border-radius: 3px 0 0 3px;
      }

      /* On hover, add a black background color with a little bit see-through */
      .prev6:hover,
      .next6:hover {
        background-color: rgba(0, 0, 0, 0.8);
          opacity: 1;
      }

      /* Number text (1/3 etc) */
      .numbertext6 {
        color: #f2f2f2;
        font-size: 12px;
        padding: 8px 12px;
        position: absolute;
        top: 0;
      }

      img {
        margin-bottom: -4px;
      }


      .demo6 {
        opacity: 0.6;
      }

      .active6,
      .demo6:hover {
        opacity: 1;
      }

      img.hover-shadow6 {
        transition: 0.3s;
      }

      .hover-shadow6:hover {
        box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
      }

.wireframe-slides-container1 {
  background-color: #FFFFFF;
  color: #000000;
  padding: 20px;
}


.wireframe-slides-paycrave {
  font-family: 'Taviraj', sans-serif;
  font-style: normal;
  font-size: 16px;
  color: #000000;
  margin-top: 10px;
  display:none;
 }



.user-testing-container1 {
    background-color: #0AC6E7;
    color: #000000;
    padding: 22px;
}

.user-testing-mobile {
  font-family: 'Work-Sans',sans-serif;
  font-size: 32px;
  font-weight: normal;
  color: #000000;
  text-align: center;
  padding-top: 20px;
}

.test-mobile {
  font-family: 'Taviraj',sans-serif;
  font-size: 16px;
  font-style: normal;
  color: #000000;
  padding: 10px;
  text-align: left;
}

.results-summary-mobile {
  font-family: 'Work-Sans',sans-serif;
  font-size: 30px;
  font-weight: normal;
  color: #000000;
  text-align: center;
}

.question-1 {
font-family: 'Taviraj', sans-serif;
font-style: normal;
font-size: 16px;
color: #000000;
margin-top: 18px;
}

.question-2 {
  font-family: 'Taviraj', sans-serif;
  font-style: normal;
  font-size: 16px;
  color: #000000;
  margin-top: 10px;
}

.question-3 {
  font-family: 'Taviraj', sans-serif;
  font-style: normal;
  font-size: 16px;
  color: #000000;
  margin-top: 10px;
}

.problem-1 {
  font-family: 'Work-Sans',sans-serif;
  font-size: 20px;
  font-weight: bold;
  color: #000000;
  text-align: center;
}

.problem-1-explanation {
  font-family: 'Taviraj',sans-serif;
  font-style: normal;
  font-size: 16px;
  color: #000000;
  text-align: left;
}

.problem-2 {
  font-family: 'Work-Sans',sans-serif;
  font-size: 20px;
  font-weight: bold;
  color:#000000;
  text-align: center;
}

.problem-2-explanation {
  font-family: 'Taviraj',sans-serif;
  font-style: normal;
  font-size: 16px;
  color: #000000;
  text-align: left;
}

.problem-3 {
  font-family: 'Work-Sans',sans-serif;
  font-size: 20px;
  font-weight: bold;
  color:#000000;
  text-align: center;
}


.problem-3-explanation {
  font-family: 'Taviraj',sans-serif;
  font-style: normal;
  font-size: 16px;
  color: #000000;
  text-align: left;
}


.results-mobile {
  font-family: 'Work-Sans',sans-serif;
  font-size: 20px;
  font-weight: bold;
  color: #000000;
  text-align: center;
}

.results-mobile-explanation {
  font-family: 'Taviraj',sans-serif;
  font-style: normal;
  font-size: 16px;
  color: #000000;
  text-align: left;
}

.thoughts1 {
  font-family: 'Work-Sans',sans-serif;
  font-size: 20px;
  font-weight: bold;
  color:#000000;
  text-align: center;
}

.thoughts1-explanation{
  font-family: 'Taviraj',sans-serif;
  font-style: normal;
  font-size: 16px;
  color: #000000;
  text-align: left;
}

.link-mobile-user-testing-report {

}


.mobile-high-fid-wireframe {
  font-family: 'Work-Sans',sans-serif;
  font-size: 32px;
  font-weight: normal;
  color: #0AC6E6;
  text-align: center;
}

.mobile-brand-identity-container {
  background-color: #ffffff;
  color: #000000;

}

.brand-identity {
background-color: #ffffff;
font-family: 'Work-Sans', sans-serif;
font-size: 36px;
font-weight: normal;
text-align: center;
color: #DE5752;
padding-top: 5px;
padding-bottom: 5px;
}


.mobile-style-guide-container {
  background-color: #ffffff;
  padding: 10px;
}

.mobile-style-guide {
  font-family: 'Work-Sans',sans-serif;
  font-size: 32px;
  font-weight: normal;
  color: #0AC6E6;
  text-align: center;
}


.mobile-style-guide-explanation {
  font-family: 'Taviraj',sans-serif;
  font-style: normal;
  font-size: 16px;
  color: #000000;
  text-align: left;
}


.mobile-style-image {
  position: relative;
  width: 1200px;
  height: 900px;
  padding-bottom: 10px;
}


.mobile-design-mockup-container {
  background-color: #0ac6e7;
  color: #000000;
  padding: 10px;
  padding-bottom: 30px;
}

.mobile-design-mockup {
  font-family: 'Work-Sans',sans-serif;
  font-size: 32px;
  font-weight: normal;
  color: #000000;
  text-align: center;
}

.mobile-design-explanation {
  font-family: 'Taviraj',sans-serif;
  font-style: normal;
  font-size: 16px;
  color: #000000;
  text-align: center;
  padding-bottom: 30px;
}

.mobile-design-home {
width: 300px;
}

.mobile-design-sign-in {
width: 300px;
}

.mobile-password {
width: 300px;
}

.mobile-thank-you {
  width: 300px;
}

.mobile-conclusion-container {
  background-color: #ffffff;
  width: 100%;
}


.mobile-conclusion {
  font-family: 'Work-Sans', sans-serif;
  font-size: 36px;
  font-weight: normal;
  text-align: center;
  color: #DE5752;
  padding-top: 5px;
  padding-bottom: 5px;
  }

.mobile-what-worked {
  font-family: 'Work-Sans',sans-serif;
  font-size: 32px;
  font-weight: normal;
  color: #0AC6E6;
  text-align: center;
}

.mobile-worked-explanation {
  font-family: 'Taviraj',sans-serif;
  font-style: normal;
  font-size: 16px;
  color: #000000;
  text-align: left;
  padding-bottom: 30px;
}

.mobile-project-concerns {
  font-family: 'Work-Sans',sans-serif;
  font-size: 32px;
  font-weight: normal;
  color: #0AC6E6;
  text-align: center;
}


.mobile-project-explanation {
  font-family: 'Taviraj',sans-serif;
  font-style: normal;
  font-size: 16px;
  color: #000000;
  text-align: left;
  padding-bottom: 30px;
}

.mobile-better-me {
  font-family: 'Work-Sans',sans-serif;
  font-size: 32px;
  font-weight: normal;
  color: #0AC6E6;
  text-align: center;
}

.mobile-better-me-explanation {
  font-family: 'Taviraj',sans-serif;
  font-style: normal;
  font-size: 16px;
  color: #000000;
  text-align: left;
  padding-bottom: 30px;
}

i {
  border: solid black;
  border-width: 0 3px 3px 0;
  display: inline-block;
  padding: 3px;
}

.left {
  transform: rotate(135deg);
   -webkit-transform: rotate(135deg);
}



.fa {
  padding: 10px;
  font-size: 20px;
  width: 10px
  text-align: center;
  text-decoration: none;
  margin: 20px 20px;
  border-radius: 50%
}
.fa:hover {
  opacity: 0.7;
}


.fa-twitter {
  color: black;
}

.fa-linkedin {
  color: black;
}
